{% extends "base.html" %}
{% block title %}About - Tickety{% endblock %}

{% block content %}
<div class="mid">
    <h1 class="center">About Us</h1>
    <div class="green-outline padding-15 round-corners half" id="ticket">
        <p>
            {{ about_full }}
        </p>
        <a href="www.linkedin.com/in/nathan-nkweto"><i class="font-s fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/Palo87Nate"><i class="font-s fa-brands fa-square-github"></i></a>
        <a href="https://x.com/NathanNkweto"><i class="font-s fa-brands fa-square-x-twitter"></i></a>
    </div>
</div>
{% endblock %}