{% extends "base.html" %}
{% block title %}About - Tickety{% endblock %}

{% block content %}
<div class="mid">
    <h1 class="center center half font-xl">About Us</h1>
    <div class="green-outline padding-15 round-corners center" id="ticket">
        <p class="font-m">
            {{ about_full }}
        </p><br>
        <div class="center">
             <a href="www.linkedin.com/in/nathan-nkweto"><i class="font-l green fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/Palo87Nate"><i class="font-l green fa-brands fa-square-github"></i></a>
        <a href="https://x.com/NathanNkweto"><i class="font-l green fa-brands fa-square-x-twitter"></i></a>
        </div>
           </div>
</div>
{% endblock %}