{% extends "base.html" %}
{% block title %}Events - Tickety{% endblock %}

{% block content %}
<div class="mid">
    <h1 class="center">About Us</h1>
    <div class="ticket white" id="ticket">
        <p>Ever faced the hassle of having to wait in line to get a ticket to a concert? Or even worse, after waiting
            for long, the tickets get sold out before you could get one?
            That is why Tickety is here, we ensure conter goers, or really any event goers, have access tickets from the
            comfort of their homes,while
            providing a platform for event organisers to easily share their events with a wide range of potential
            attendees.
        </p>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-square-github"></i>
        <i class="fa-brands fa-square-x-twitter"></i>
    </div>
</div>
{% endblock %}