{% extends "base.html" %}
{% block title %}Events - Tickety{% endblock %}

{% block content %}
<div class="mid">
    <h1 class="center">Thank you for trusting Tickety, find your eTicket below</h1>
    <div class="ticket white" id="ticket">
        <div class="content green">
            <h1 class="center">{{ event.ename }}</h1>
            <p>{{ ticket.fname }} {{ ticket.lname }}</p>
            <p>Date | Time : {{ formatted_date }} at {{ formatted_time }}</p>
            <p>Venue : {{ event.venue }}</p>
        </div>
        <div class="security center">
            <img class="qr-code" src="{{ url_for('routes.get_qrcode', ticket_id=ticket.id) }}" alt="QR Code">
        </div>
    </div>
</div>

{% endblock %}