{% extends "base.html" %}

{% block title %}Your Ticket - My App{% endblock %}

{% block content %}
<h1 class="center">Start Your Event!</h1>
<div class="center">
	<form method="POST" action="{{ url_for('routes.create_event_view') }}">
		{{ form.hidden_tag() }}
		<p>{{ form.ename.label }}<br>{{ form.ename(class="form-text") }}</p>
        <p>{{ form.date.label }}<br>{{ form.date(class="form-text") }}</p>
        <p>{{ form.time.label }}<br>{{ form.time(class="form-text") }}</p>
        <p>{{ form.venue.label }}<br>{{ form.venue(class="form-text") }}</p>
		<p>{{ form.places.label }}<br>{{ form.places(class="form-text") }}</p>
        <p>{{ form.t_price.label }}<br>{{ form.t_price(class="form-text") }}</p>
		<p>{{ form.details.label }}<br>{{ form.details(class="form-text") }}</p>
        <div class="center">
			{{ form.submit(class="btn") }}
		</div>
    </form>
{% endblock %}