{% extends "base.html" %}
{% block title %}{{ event.ename }} - My App Events{% endblock %}

{% block content %}
<h1 class="center"><strong>{{ event.ename }}</strong></h1>
<div class="center">
	<p><strong>Date:</strong> {{ event.date }}</p>
	<p><strong>Time:</strong> {{ event.time }}</p>
	<p><strong>Venue:</strong> {{ event.venue }}</p>
	<p><strong>Places Available:</strong> {{ event.places }}</p>
	<p><strong>Details:</strong> {{ event.details }}</p>
	<p><strong>Ticket Price:</strong> $ {{ event.t_price }}</p>
	<div class="container">
		<a href="{{ url_for('routes.buy_ticket', event_id=event.id, ticket_id=ticket_id) }}"><button class="btn">Buy Ticket</button></a>
	</div>
</div>
{% endblock %}