{% extends "base.html" %}
{% block title %}Login - Tickety{% endblock %}
{% block content %}
<h1>Our Events</h1>
    <ul>
        {% for event in events %}
        <li class="event-card">
            <h2>{{ event.ename }}</h2>
            <p><strong>Date:</strong> {{ event.date }}</p>
            <p><strong>Location:</strong> {{ event.venue }}</p>
            <p>{{ event.description }}</p>
        </li>
        {% else %}
        <li>No events available.</li>
        {% endfor %}
    </ul>
    <div>
        {% if page > 1 %}
            <a href="{{ url_for('routes.browse_events', page=page-1) }}">Previous</a>
        {% endif %}
        Page {{ page }} of {{ total_pages }}
        {% if page < total_pages %}
            <a href="{{ url_for('routes.browse_events', page=page+1) }}">Next</a>
        {% endif %}
    </div>
    {% endblock %}
