<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/styles/common.css?{{ cache_id }}">
	<link rel="stylesheet" type="text/css" href="../static/styles/header.css?{{ cache_id }}">
	<link rel="stylesheet" type="text/css" href="../static/styles/footer.css?{{ cache_id }}">
	<link rel="stylesheet" type="text/css" href="../static/styles/objects.css?{{ cache_id }}">
	<link rel="icon" href="../static/images/icon.png?{{ cache_id }}" />
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="static/scripts/index.js?{{ cache_id }}"></script>
	<title>Ticket Creator</title>
</head>

<body>
	<header>
		<div class="logo"></div>
		<div id="api_status" class="available"></div>
	</header>
	<h1 class="center">Start Your Event!</h1>
	<div class="center">
		<form class="container" method="POST" action="{{ url_for('create_ticket_view') }}">
			{{ event_form.hidden_tag() }}
			{{ ticket_form.hidden_tag() }}
			
			<div class="form-element">
				{{ event_form.event_name(class="form-text") }}
			</div>

			<div class="form-element">
				<label for="date">Date:</label>
				{{ event_form.date(class="date") }}
				<label for="time">Time:</label>
				{{ event_form.time(class="time") }}
			</div>

			<div class="form-element">
				{{ event_form.venue(class="form-text") }}
			</div>

			<div class="form-element">
				{{ ticket_form.price(class="form-number") }}
			</div>

			<div class="center">
				<button class="btn" type="submit">Create Ticket</button>
			</div>
		</form>
	</div>

	<footer>
		<p>Tickety</p>
	</footer>
</body>

</html>