{% extends "base.html" %}
{% block title %}Get Ticket - Tickety{% endblock %}
{% block content %}
<div class="mid">
  <h1 class="center">Please Provide Your Details</h1>
  <div class="center">
    <form class="form-page" method="POST" action="{{ url_for('routes.buy_ticket', event_id=event.id) }}">
      {{ form.hidden_tag() }}
      <p>{{ form.fname.label }}<br>{{ form.fname(class="form-text") }}</p>
      <p>{{ form.lname.label }}<br>{{ form.lname(class="form-text") }}</p>
      <p>{{ form.email.label }}<br>{{ form.email(class="form-text") }}</p>
      <p>{{ form.pnumber.label }}<br>{{ form.pnumber(class="form-text") }}</p>
      <div class="center">
        {{ form.submit(class="btn") }}
      </div>
    </form>
  </div>
</div>

{% endblock %}