<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/styles/common.css?{{ cache_id }}">
	<link rel="stylesheet" type="text/css" href="../static/styles/header.css?{{ cache_id }}">
	<link rel="stylesheet" type="text/css" href="../static/styles/footer.css?{{ cache_id }}">
	<link rel="stylesheet" type="text/css" href="../static/styles/objects.css?{{ cache_id }}">
	<link rel="stylesheet" type="text/css" href="../static/styles/ticket.css?{{ cache_id }}">
	<link rel="icon" href="../static/images/icon.png?{{ cache_id }}" />
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="static/scripts/index.js?{{ cache_id }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

    <title>Ticket Confirmation</title>
</head>
<body>
    <header>
		<div class="logo"></div>
		<div id="api_status" class="available"></div>
	</header>
    <h1 class="center">Your Ticket</h1>
    <div class="green-outline container row white" id="ticket">
			<div class="column content green">
                <h1 class="center">{{ ticket.event_name }}</h1>
                <p>Date : {{ event.date }}</p>
                <p>Time : {{ event.time }}</p>
                <p>Venue : {{ event.venue }}</p>
                <p>$ {{ ticket.price }}</p>
			</div>
            <div class="column security center">
				<img class="qr-code" src="{{ url_for('get_qrcode', ticket_id=ticket.id) }}" alt="QR Code">
            </div>
	</div>
	<!-- <div class="center">
		<button class="btn" onclick="generatePDF()">Download PDF</button>
	</div> -->
	
    <script>
        function generatePDF() {
            const element = document.getElementById('ticket');

            // Initialize jsPDF
			const pdf = new window.jspdf.jsPDF();
            
            // Add ticket to PDF
            pdf.html(element, {
                callback: function (pdf) {
                    pdf.save('event-ticket.pdf');
                },
                x: 10,
                y: 10
            });
        }
    </script>
	<footer>
		<p>Tickety2024 by DevPalo</p>
	</footer>
</body>
</html>