{% extends "base.html" %}
{% block title %}Login - Tickety{% endblock %}
{% block content %}
<div class="mid">
    <h1 class="center">Enter the details on your ticket</h1>
    <div class="center">
        <form class="form-page" method="POST" action="{{ url_for('routes.ticket_search') }}">
            {{ form.hidden_tag() }}
            <p>{{ form.event_name.label }}<br>{{ form.event_name(class="form-text") }}</p>
            <p>{{ form.fname.label }}<br>{{ form.fname(class="form-text") }}</p>
            <p>{{ form.lname.label }}<br>{{ form.lname(class="form-text") }}</p>
            <div class="center">
                {{ form.submit(class="btn") }}
            </div>
        </form>
    </div>

</div>
{% endblock %}