.column {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 10px;
}

.row {
    width: 100%;
    display: grid;
    gap: 3%;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.list {
    gap: 3%;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}

.list-3 {
    gap: 5%;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    object-fit: contain;
}

.list-3b {
    gap: 3%;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 0.2fr);
    padding: 20px;
    object-fit: contain;
}

.list-2 {
    gap: 5%;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    padding: 40px;
}

.list-2b {
    gap: 20%;
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 0.3fr);
    padding: 40px;
}

@media (max-width: 768px) {
    .row,
    .list,
    .list-3,
    .list-3b,
    .list-2,
    .list-2b {
        grid-template-columns: 1fr !important;
    }

    .row {
        padding: 10px !important;
        gap: 10px !important;
    }

    .list,
    .list-3,
    .list-3b,
    .list-2,
    .list-2b {
        padding: 10px !important;
        gap: 10px !important;
    }
}