.cov-img {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.abt-img {
    object-fit: contain;
}

.abt-img img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.event-card {
    display: block;
    border-radius: 20px;
    transition: 0.5s;
}

.event-card:hover {
    box-shadow: 0 0 10px #484848;
    transform: scale(1.07);
}

.card-text {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.form-page {
    font-size: 18px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    display: inline-block;
    width: 390px;
    height: 100%;
    padding: 20px;
    margin: 20px;
    border: 1px solid #6b8e23ff;
    border-radius: 4px;
}

.btn {
    display: inline-block;
    padding: 10px;
    background: #6b8e23ff;
    color: #FFFFFF;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 18px;
    height: auto;
    width: auto;
    box-shadow: none;
    border: none;
}

.btn:hover {
    background-color: #e1f3e2;
}

.event-img {
    object-fit: cover;
}

.card-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}