footer {
    clear: both;
    background: #6b8e23ff!important;
    bottom: 0;
    width: 100%;
    color: #ffffff!important;
    height: 150px;
}
footer p {
    text-align: center;
}

nav {
    position: sticky!important;
    top: 0;
    background: #6b8e23ff!important;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px;
    background: #6b8e23ff;
    color: #FFFFFF;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: 18px;
    height: auto;
    width: auto;
    box-shadow: none;
    border: none;
}

.btn:hover {
    background-color: #e1f3e2;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.white-text {
    color: #FFFFFF;
}

.column {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 10px;
}

.row {
    width: 100%;
    display: grid;
    gap: 3%;
    padding: 20px;
    grid-template-columns: repeat(2, 1fr);
    clear: both;
}

.half {
    display: block;
}

.event-img {
    object-fit: cover;
}