body {
    margin: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body .container {
    margin: auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    font-size: 18px;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    display: inline-block;
    width: 390px;
    height: 100%;
    padding: 20px;
    margin: 20px;
    border: 1px solid #6b8e23ff;
    border-radius: 4px;
}

.green-outline {
    border: 1px solid #6b8e23ff;
}

input {
    height: 40px;
    box-sizing: border-box;
    

}

input[type=text] {
    width: 95% !important;
    font-size: 16px;
}

input[type=number] {
    font-size: 16px;
    width: 40% !important
}

input[type=date],
input[type=time] {
    width: 35% !important
}

.form-element {
    margin-bottom: 20px;
}

.event-gallery {
    width: 100%;
    display: flex;
}

.event-card {
    width: 50%;
    background: #6b8e23ff;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    float: left;
}

.event-card:hover {
    box-shadow: 0 0 10px rgb(238, 137, 137);
}

ul {
    list-style: none;
}