.row {
    display: flex;
    justify-content: space-between;
}
.column {
    /* Optional */
    padding: 10px;
    margin: auto;
    /* border-right: 1px solid #ccc; */
}

.content {
    width: 70%;
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}

.security {
    width: 30%;
}

.green {
    background: #6b8e23ff;
    color: white;
}

.white {
    background: rgb(212, 231, 172);
}

.qr-code {
    border-radius: 10px;
}