.ticket {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: 250px;
    margin: auto;
    border-radius: 20px;
}

.small-row {
    display: flex;
    justify-content: space-between;
}
.half {
    width: 50%;
}

.content {
    width: 70%;
    border-radius: 20px;
    padding: 20px;
}

.security {
    width: 30%;
}

.green {
    background: #6b8e23ff;
    color: white;
}

.white {
    background: rgb(212, 231, 172);
}

.qr-code {
    border-radius: 10px;
}