.row {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}
.column {
    /* Optional */
    padding: 10px;
    /* border-right: 1px solid #ccc; */
}

.ticket {
    margin: auto;
    border-radius: 20px;
}

.content {
    width: 70%;
    border-radius: 20px;
}

.security {
    width: 30%;
}

.green {
    background: #6b8e23ff;
    color: white;
}

.white {
    background: rgb(212, 231, 172);
}

.qr-code {
    border-radius: 10px;
}